@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@200&family=Montserrat:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-black;
    @apply font-Montserrat;
  }
  h2 {
    @apply text-white;
  }
  body {
    @apply bg-slate-200;
    @apply overflow-y-scroll  scrollbar-thumb-gray-400 scrollbar-track-gray-50 scrollbar-thin;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
